server:
  port: 443
  address: 0.0.0.0
  servlet:
    context-path: /
    encoding:
      force-response: true
  compression:
    enabled: true
    mime-types: application/javascript,text/css,application/json,application/xml,text/html,text/xml,text/plain
  tomcat:
    uri-encoding: UTF-8
    accept-count: 1000
    threads:
      max: 800
      min-spare: 100
  ssl:
    enabled: true
    key-store: classpath:ssl/hoi4.top.jks
    key-store-password: 4r7c40ey
    key-store-type: JKS

spring:
  profiles:
    active: prod
  application:
    name: HOI4翻译
  main:
    banner-mode: off
  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
  web:
    resources:
      static-locations: classpath:/static/
  thymeleaf:
    cache: false
    prefix: classpath:/templates/
  devtools:
    restart:
      enabled: true
      additional-paths: src/main/java
      exclude: WEB-INF/**

logging:
  pattern:
    dateformat: "yyyy-MM-dd HH:mm:ss.SSS"
  level:
    com.baomidou.mybatisplus: DEBUG
    com.example.hoi4translation.mapper: DEBUG
  file:
    name: ../logs/${spring.application.name}.log
  logback:
    rollingpolicy:
      max-file-size: 500KB
      file-name-pattern: ../logs/${spring.application.name}.%d.%i.log

mybatis-plus:
  mapper-locations: classpath:mapper/*.xml
  type-aliases-package: com.example.hoi4translation.domain.entity
  configuration:
    log-impl: org.apache.ibatis.logging.slf4j.Slf4jImpl
    map-underscore-to-camel-case: true
    default-enum-type-handler: com.baomidou.mybatisplus.core.handlers.MybatisEnumTypeHandler
  global-config:
    db-config:
      id-type: auto
      logic-delete-field: deleted
      logic-delete-value: 1
      logic-not-delete-value: 0
    banner: off
---
spring:
  config:
    activate:
      on-profile: dev
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    name: 开发数据源
    url: jdbc:mysql://localhost:3306/钢铁雄心4冷战?useUnicode=true&characterEncoding=utf8&zeroDateTimeBehavior=convertToNull&useSSL=true&serverTimezone=GMT%2B8&autoReconnect=true&rewriteBatchedStatements=true
    username: root
    password: root
#mybatis-plus:
#  configuration:
#    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
---
spring:
  config:
    activate:
      on-profile: prod
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    name: 生产数据源
    url: jdbc:mysql://localhost:3306/钢铁雄心4?useUnicode=true&characterEncoding=utf8&zeroDateTimeBehavior=convertToNull&useSSL=true&serverTimezone=GMT%2B8&autoReconnect=true&rewriteBatchedStatements=true
    username: root
    password: root

path:
  # TODO 路径考虑Linux适配
  vanilla: C:\Program Files (x86)\Steam\steamapps\common\Hearts of Iron IV
  original_vanilla: C:\Users\91658\Desktop\Games\原版汉化
  local_vanilla: C:\Users\91658\Documents\Paradox Interactive\Hearts of Iron IV\mod\Vanilla_CN_Supply
  workshop_56: C:\Program Files (x86)\Steam\steamapps\workshop\content\394360\820260968
  original_56: C:\Users\91658\Desktop\Games\56之路原版
  local_56: C:\Users\91658\Documents\Paradox Interactive\Hearts of Iron IV\mod\56_CN_Supply
  authorization: d61cac8fc2aaf5dc4a4d84b7cfe223c6